.battleBoard {
    text-align: center;
    background-color: lightyellow;
    height: 890px;
}

.displayedCard {
    position: relative;
    max-width: 100%;
}

.enemyCard {
    position: relative;
    max-width: 100%;
}

.opponentDiscardPileClass {
    width: 11vw;
    position: absolute;
    left: 7%;
}

.cardOutline {
    border: 10px;
    width: 100px;
    height: 140px;
    outline-style: dashed;
    color: darkgray;
}

.cardOutlineRow {
    width: 900px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    /* position: absolute; */
}

.cardOutlinePrizesEnemy {
    width: 300px;
    height: 400px;
    background-color: aqua;
    position: relative;
    bottom: 150px;
    left: 75%;
}

.cardOutlinePrizesMine {
    width: 300px;
    height: 400px;
    background-color: teal;
    position: relative;
    bottom: 75px;
    left: 5%;
}

.myBenchOutline {
    position: absolute;
    left: 500px;
    bottom: 0px;
}

.attackButton {
    position: relative;
    left: -1.5%;
    bottom: 45%;
    /* bottom: 5
    0%; */
}

.attachEnergyButton {
    position: absolute;
    left: 30px;
    top: 5%;
}

.hp {
    position: relative;
    left: 6%;
    bottom: 50%;
    z-index: 2;
}

#hand {
    position: absolute;
    background-color: pink;
    width: 300px;
    height: 200px;
    right: 5%;
}

#activePkmnHp {
    position: relative;
    background-color: orange;
    color: red;
    width: 50px;
    left: 61%;
    bottom: 111%;
}

#enemyHp {
    position: relative;
    background-color: yellow;
    color: red;
    width: 50px;
    left: 61%;
    bottom: 106%;
}

@media (max-height: 890px) {
    .battleBoard {
        width: 100%;
    }
    .displayedCard {
        width: 100%;
    }
}
